extends layout

block scripts
  script(type='text/javascript', src='/javascripts/simulateRPS.js')
  script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  script.
    const gameManagerHost = '#{process.env.MANAGER_SERVICE_HOST || 'http://localhost:8080'}';
    const playerSimulatorHost = '#{process.env.RPS_SERVICE_HOST || 'http://localhost:5000'}';

block content
  p Welcome to #{title} - #{process.env.APP_ENV}

  div Team #1: 
    input(type="text", id='team1Text', value='Team 1')

  div Team #2: 
    input(type="text", id='team2Text', value='Team 2')

  button(onClick='startGame()') Run the simulator!

  p(id='resultsText') Click the button to see a simulated run


